{% load static %}
<!DOCTYPE html>

<html lang="en">
	<head>
		<title>{% block title %}{% endblock title %} | you-wish.co LMS</title>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<meta name="robots" content="index, follow" > 
		<meta name="keywords" content="LMS, ELT" > 
		<meta name="description" content="LMS PROJECT" > 
		<meta name="author" content="Alp Arslan">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    	<meta name="theme-color" content="#2a2b2f">
    
		<!-- FAVICONS -->
    	<link rel="shortcut icon" href="images/favicon/favicon.png">
    	<link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
    	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
    	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
    	<link rel="icon" sizes="192x192" href="images/favicon/icon-192x192.png">

		<!-- CSS -->
    		<!--  GOOGLE FONT -->		
	   		 <link href="https://fonts.googleapis.com/css?family=Poppins:500,600,300%7COpen+Sans:400,300,700" rel="stylesheet" type="text/css">
	    
	    	<!--  BOOTSTRAP -->
			<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
		
	   		 <!-- ICONS ELEGANT FONT & FONT AWESOME & LINEA ICONS  -->		
			<link rel="stylesheet" href="{% static 'css/icons-fonts.css' %}" >	
		
	    	<!--  CSS THEME -->		
			<link rel="stylesheet" href="{% static 'css/style.css' %}" >
		
	    	<!-- ANIMATE -->	
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
			
	    	<!-- IE Warning CSS -->
			<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie-warning.css" ><![endif]-->
			<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8-fix.css" ><![endif]-->
	    
	    	<!-- Magnific popup, Owl Carousel Assets in style.css -->		
		
		<!-- CSS end -->
	</head>
	<body>		
		<!-- LOADER -->	
		<div id="loader-overflow">
      		<div id="loader3" class="loader-cont">Please enable JS</div>
    	</div>	

		<div id="wrap" class="boxed ">
			<div class="grey-bg"> <!-- Grey BG  -->	

                       <!-- HEADER 1 FONT WHITE TRANSPARENT -->
        <div class="header-black-bg"></div> <!-- NEED FOR TRANSPARENT HEADER ON MOBILE -->
        <!-- HEADER 3 MIN SIDE MENU 2 FONT BLACK TRANSPARENT -->
        <header id="nav-stick" class="header header-1 header-side-menu header-black affix-on-mobile">
          <div class="header-wrapper">
            <div class="container-m-30 clearfix">
              <div class="logo-row">
              
              <!-- LOGO --> 
              <div class="logo-container-2">
                  <div class="logo-2">
                    <a href="/" class="clearfix">
                      <img src="{% static 'images/logo-white2.png' %}" class="logo-img" alt="Logo">
                    </a>
                  </div>
                </div>
             </div>
            </div>

            <!-- BUTTON --> 
            <div class="menu-btn-respons-container2">
              <a id="cd-menu-trigger" href="#"><span class="cd-menu-icon"></span></a>
            </div>
          </div> <!-- END header-wrapper -->
        </header>
                      
        <!-- SIDE MENU -->      
        <!-- SIDE MENU -->      
        <!-- SIDE MENU -->      
        <nav id="cd-lateral-nav" class="font-poppins">
          <ul class="cd-navigation">
            <li class="item-has-children">
              <a href="#0">Student</a>
              <ul class="sub-menu">
                <li><a href="/start">Start Learning</a></li>
              </ul>
            </li> <!-- item-has-children -->
            <li class="item-has-children">
              <a href="#0">Tasks</a>
              <ul class="sub-menu">
                <li><a href="/etym">Task I: Etymology</a></li>
                <li><a href="/circle/new">Task II: The Wish Circle</a></li>
                <li><a href="/poem/new">Task III: Poem</a></li>
                <li><a href="/would">Task IV: Would</a></li>
                <li><a href="/lamp/new">Task V: Lamp</a></li>
                <li><a href="/genie/start">Task VI: Genie</a></li>
                <li><a href="/guess/new">Task VII: Guess</a></li>
                <li><a href="/reading">Task VIII: Reading</a></li>
                <li><a href="/fill/new">Task IX: Exercise</a></li>
              </ul>
            </li> <!-- item-has-children -->

            <li class="item-has-children">
              <a href="#0">Checklists</a>
              <ul class="sub-menu">
                <li><a href="/checklist/new">Checklist I</a></li>
              </ul>
            </li> <!-- item-has-children -->

            <li class="item-has-children">
              <a href="#0">Teacher</a>
              <ul class="sub-menu">
                <li><a href="/admin">Dashboard</a></li>
              </ul>
            </li> <!-- item-has-children -->
          </ul> <!-- cd-navigation -->


          
          <div class="cd-navigation socials text-center">
            <div class="footer2-soc-a">
              <a href="https://github.com/hsyalparslan/" title="Github" target="_blank"><i class="fa fa-github"></i></a>
            </div>
          </div>  <!-- socials -->
          
        </nav><!-- END side menu -->
              <!-- SLIDING CONTENT -->
        <div class="sliding-content rev_slider_wrapper fullwidthbanner-container" id="rev_slider_280_1_wrapper" style="margin:0px auto;background-color:#fff;padding:0px;margin-top:0px;margin-bottom:0px;"><!-- need for menu -->
        

        
        </div> <!-- END sliding-content -->

        <!-- SLIDING CONTENT -->
        <div class="sliding-content"><!-- need for menu --> 
	{% block content %}
	{% endblock content %}
	
          <!-- FOOTER 3 BLACK -->
          <!-- FOOTER 3 BLACK -->
          <footer id="footer6" class="page-section pt-95 pb-50 footer2-black">
            <div class="container">
              <div class="row">
              
                <div class="col-md-3 col-sm-3 widget">
                  <div class="logo-footer-cont">
                    <a href="">
                      <img class="logo-footer" src="{% static 'images/logo-footer-white.png' %}" alt="logo">
                    </a>
                  </div>

                  <div class="footer2-text-cont">
                    &copy; 2018 All rights reserved.<br>
                    <a class="a-text" href="mailto:hsy.alparslan@gmail.com">hsy.alparslan@gmail.com</a>
                  </div>
                  <div class="footer2-text-cont a-text-main-cont">
                    <a target="_blank" href="https://hsyalparslan.github.io">Portfolio</a>
                  </div>
                </div>
                
                <div class="col-md-3 col-sm-3 widget">
                  <h4>Student</h4>
                  <ul class="links-list a-text-cont a-text-main-cont font-poppins">
                    <li><a href="/">Home</a></li>
                    <li><a href="/start">Tasks</a></li>
                    <li><a href="/checklist/new">Checklists</a></li>
                  </ul>
                </div>
                
                <div class="col-md-3 col-sm-3 widget">
                  <h4>Teacher</h4>
                  <ul class="links-list a-text-cont font-poppins" >
                    <li><a href="/admin">Dashboard</a></li>
                  </ul>
                </div>
                
                <div class="col-md-3 col-sm-3 widget">
                  <h4>Mailing List</h4>
                  
                  <!-- NEWS LETTER 2 -->
                  <div class="relative">
                    <div id="mc_embed_signup" class="nl-form-container clearfix">
                      <form action="http://abcgomel.us9.list-manage.com/subscribe/post-json?u=ba37086d08bdc9f56f3592af0&amp;id=e38247f7cc&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletterform2 validate" target="_blank" novalidate>   <!-- EDIT THIS ACTION URL (add "post-json?u" instead of "post?u" and appended "&amp;c=?" to the end of this URL) -->
                        <input type="email" value="" name="EMAIL" class="email nl2-email-input" id="mce-EMAIL" placeholder="Email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_ba37086d08bdc9f56f3592af0_e38247f7cc" tabindex="-1" value=""></div>

                        <button id="mc-embedded-subscribe" class="nl2-btn" type="submit" name="subscribe">
                          <span class="icon icon-arrows-slim-right"></span>
                        </button>
                        
                      </form>
                      <div id="notification_container"  ></div>
                    </div>
                  </div>                  
                  
                </div>
              
              </div>    
              
              <!-- SUB FOOTER -->
              <div class="footer2-copy-cont clearfix">
                <!-- Social Links -->
                <div class="footer2-soc-a right">
                  <a href="https://github.com/hsyalparslan/" title="Github" target="_blank"><i class="fa fa-github"></i></a>
                </div>
                
                <!-- Copyright -->
                <div class="left">
                  <a class="footer2-copy" href="https://hsyalparslan.github.io" target="_blank">&copy; 2018 Alp Arslan</a>
                </div>

              </div>
                      
            </div>
          </footer>
          
          
        </div> <!-- END sliding-content -->   
          
          <!-- BACK TO TOP -->
        <p id="back-top">
          <a href="#top" title="Back to Top"><span class="icon icon-arrows-up"></span></a>
        </p>
			</div><!-- End BG -->	
		</div><!-- End wrap -->	        </div> <!-- END sliding-content -->   
          
	<!-- JS begin -->

		<!-- jQuery  -->
		<script  src="{% static 'js/jquery.min.js' %}"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="{% static 'js/bootstrap.min.js' %}"></script>	

		<!-- MAGNIFIC POPUP -->
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>    
    
    	<!-- PORTFOLIO SCRIPTS -->
    	<script  src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    
    	<!-- APPEAR -->    
    	<script  src="{% static 'js/jquery.appear.js' %}"></script>
    

   		<!--[if lt IE 10]><script  src="js/jquery.placeholder.js"></script><![endif]--> 
    
    	<!-- FORMS VALIDATION	-->
		<script src="{% static 'js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'js/contact-form-validation.min.js' %}"></script>
    
    	<!-- MAIN SCRIPT -->
		<script src="{% static 'js/main.js' %}"></script>

    <!-- SIDE MENU -->
    <script src="{% static 'js/side-menu.js' %}"></script>
    
	<!-- JS end -->	
	

	</body>
</html>