{% for more_shit in hello %}
	<br>You said you were bad at using wish statements,<a target="_blank" href="http://lmgtfy.com/?q=using+wish+statements"> check this out!</a>
{% endfor %}
{% for more_shit in hello2 %}
	<br>You said you were bad at using wish statements for communicating regrets,<a target="_blank" href="http://lmgtfy.com/?q=using+wish+statements"> check this out!</a>
{% endfor %}
{% for more_shit in hello3 %}
	<br>You said you were bad at using wish statements to describe feelings and emotions,<a target="_blank" href="http://lmgtfy.com/?q=using+wish+statements"> check this out!</a>
{% endfor %}
{% for more_shit in hello4 %}
	<br>You said you were bad at imagining the world differently than it is,<a target="_blank" href="http://lmgtfy.com/?q=using+wish+statements"> check this out!</a>
{% endfor %}
{% for more_shit in hello5 %}
	<br>You said you were bad at using wish statements,<a target="_blank" href="http://lmgtfy.com/?q=using+wish+statements"> check this out!</a>
{% endfor %}
{% for more_shit in hello6 %}
	<br>It seems like you are bad at expressing past habits,<a target="_blank" href="http://lmgtfy.com/?q=using+wish+statements"> check this out!</a>
{% endfor %}
{% for more_shit in hello7 %}
	<br>You said you were bad at using wish statements,<a target="_blank" href="http://lmgtfy.com/?q=using+wish+statements"> check this out!</a>
{% endfor %}
{% for more_shit in hello8 %}
	<br>You said you were bad at asserting agreement and disagreements,<a target="_blank" href="http://lmgtfy.com/?q=using+wish+statements"> check this out!</a>
{% endfor %}
{% for more_shit in hello9 %}
	<br>You said you cannot describe your hopes and future plans,<a target="_blank" href="http://lmgtfy.com/?q=using+wish+statements"> check this out!</a>
{% endfor %}
{% for more_shit in hello10 %}
	<br>You are <strong>Clueless</strong> about the topics you learned. Maybe you'd like to <a href="/">retake the course?</a>
{% endfor %}
