{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<h1>Well done. Your submission was noted.</h1>
<h3>The wishes of the customers were:</h3>
<ul>
	{% for more_shit in wishes %}
	<li>{{ more_shit.c_name }}: {{ more_shit.c_wish }}</li>
	{% endfor %}
</ul>
{% for shit in activities %}
<div>

<h3>{{ shit.g_name}}'s decision:</h3>

	<p> {{shit.wishes}}</p>
	<p>g_choice: {{ shit.g_choice }}</p>
<h3>Customers' comments:</h3>
	<p>Customer 1: blah</p>
	<p>Customer 2: blah</p>
	<p>Customer 3: blah</p>
</div>
{% endfor %}