{% extends 'layout.html' %}
{% block title %}Etymology{% endblock title %}
{% block content %}

        <!-- PAGE TITLE LARGE 2 GRAY -->
        <div class="page-title-large3-cont bg-gray" style="background-image: url(/static/images/fes1001.jpg);">
          <div class="container relative ">
            <div class="page-title-large3-text-cont">
                <div>
                <h1 class="page-title3 customtitle">Origin</h1>
              </div>
              

  

            </div>
          </div>
        </div>
        <div class="page-section p-60-cont">
        <div class="container">
        <div class="row">

            <!-- TIMELINE -->
            <div class="heading-underline h3-line">
              <h3 class="mb-40">Timeline</h3>
            </div>
            <section id="cd-timeline" class="cd-container mb-100">
              <div class="cd-timeline-start">
                <div class="cd-timeline-start-caption">THE BIG BANG</div>
              </div>
              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <span aria-hidden="true" class="icon_archive_alt"></span>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h2>wȳscan</h2>
                  <div>Old English wȳscan, of Germanic origin; related to German wünschen</div>
                  <span class="cd-date"><span class="cd-date-year">Very long ago</span><span class="cd-date-month">OLD ENGLISH</span></span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <span aria-hidden="true" class="icon_archive_alt"></span>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h2>wēnan</h2>
                  <p>Old English wēnan, of Germanic origin; related to Dutch wanen ‘imagine,’ German wähnen ‘suppose wrongly,’</p>
                  <span class="cd-date"><span class="cd-date-year">Long ago</span><span class="cd-date-month">OLD ENGLISH</span></span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <span aria-hidden="true" class="icon_archive_alt"></span>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h2>ween</h2>
                  <p>Old English wēnan, of Germanic origin; related to Dutch wanen ‘imagine,’ German wähnen ‘suppose wrongly,’ also to wish.</p>
                  <span class="cd-date"><span class="cd-date-year">Still Long ago</span><span class="cd-date-month">OLD ENGLISH</span></span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <span aria-hidden="true" class="icon_archive_alt"></span>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h2>wishhen (wish): First Known Use</h2>
                  <p>As a Transitive Verb:<br><strong>to have a desire for (something, such as something unattainable)</strong><br><em>wished he could live his life over</em></p>
                  <span class="cd-date"><span class="cd-date-year">Before the 12th Century</span><span class="cd-date-month">MIDDLE ENGLISH</span></span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->

              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <span aria-hidden="true" class="icon_archive_alt"></span>
                </div> <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                  <h2>wish: First Known Use</h2>
                  <p>As a noun:<br><strong>an act or instance of wishing or desire : WANT</strong><br><em>a wish to travel</em></p>
                  <span class="cd-date"><span class="cd-date-year">14th Century</span><span class="cd-date-month">MIDDLE ENGLISH</span></span>
                </div> <!-- cd-timeline-content -->
              </div> <!-- cd-timeline-block -->
              <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-picture">
                  <span aria-hidden="true" class="icon_archive_alt"></span>
                </div> <!-- cd-timeline-img -->
              <div class="cd-timeline-start cd-final">
                <div class="cd-timeline-start-caption">MODERN WISH<br></div>
              </div>
            </section> <!-- cd-timeline -->
        </div>
      </div>
      </div>



{% endblock content %}  
