{% extends 'layout.html' %}
{% block title %}Would{% endblock title %}
{% block content %}

   <!-- PAGE TITLE LARGE 2 GRAY -->
        <div class="page-title-large3-cont bg-gray" style="background-image: url(/static/images/fes300.jpg);">
          <div class="container relative ">
         	  <div class="page-title-large3-text-cont">
  
                <div>
                <h1 class="page-title3 customtitle">Reading</h1>
              </div>
              


            </div>
          </div>
        </div>
        <div class="page-section p-60-cont">
        <div class="container">
        <div class="row">

      		<div class="col-md-12">
              <blockquote class="mb-50">
                <p>In this particular activity, read these short texts. Be a group which consist of 3 people. Do these two activities with your group friends.</p>
              </blockquote>
              <blockquote class="mb-50">
                <p><strong>1st activity:</strong> Choose one of them. Then describe the world of the person that you choose. You can describe it whatever you want like by drawing, speaking or writing, etc.</p>
              </blockquote>
              <blockquote class="mb-50">
                <p><strong>2nd activity:</strong> Create your dream world with your group friends. Tell what would you wish that what kind of world you want to live. </p>
              </blockquote>
              <h4>Jacob</h4>
              <blockquote class="mb-50">
                <p> I wish the world would be like past times because in the past time the people would make real communication with each other by making eye contact. They wouldn’t use telephone all the time. They would give more value to books because achieving to information was not easy compared to today. Children were play in the garden or parks instead of playing with tablets all the time. I wish technology wouldn’t make an impression like this.</p>
              </blockquote>
              <h4>Aden</h4>
              <blockquote class="mb-50">
                <p>I wish the world would be like The Jetsons cortoon because people would have more opportunity such as being teleported, living with a robot who does all works for our, driving flying cars, etc. Owing to being teleported when the people miss someone, they would fulfill their longing thanks to this advanced technology. Living with a robot would reduce people’s workload, stress. Driving flying car reduce traffic jam so that everyone could reach everywhere whatever they want easily. I wish the life would be more easier with advanced technology.</p>
              </blockquote>
              <h4>Chen</h4>
              <blockquote class="mb-50">
                <p>I wish the world would be a place which woman are more valued because today woman haven’t equal rights with man. I wish woman would live free from violence, discrimination. I wish they would have the rights of more education and to earn a fair and equal wage because as the now-famous saying goes “woman’s rights are human rights.” So, people would see that woman will success huge things in the world.</p>
              </blockquote>     
			</div>
       	</div>
  		</div>
  		</div>



{% endblock content %}	
