{% extends 'layout.html' %}
{% block title %}Would{% endblock title %}
{% block content %}

        <!-- PAGE TITLE LARGE 2 GRAY -->
        <div class="page-title-large3-cont bg-gray" style="background-image: url(/static/images/fes301.jpg);">
          <div class="container relative ">
            <div class="page-title-large3-text-cont">
  
              <div>
                <h1 class="page-title3 customtitle">Start</h1>
              </div>
              


            </div>
          </div>
        </div>
        <div class="page-section p-60-cont">
        <div class="container">
        <div class="row">

      		<div class="col-md-12">            <blockquote class="mb-50">
                <p>Welcome. Start here by picking up a task that interests you.</p>
              </blockquote>
                            <ul class="toggle-view-custom toggle-no-bg">
                <li>
                  <h3 class="ui-accordion-header"><span class="link"></span>TASK I: Etymology</h3>
                  <div class="panel">
                    <p>Find out the origin behind the word "wish".</p>
                    <p>
                <a class="button thin full-rounded small gray" target="_blank" href="/etym">GO TO TASK I</a>
              </p>
                  </div>
                </li>
                <li>
                  <h3 class="ui-accordion-header"><span class="link"></span>TASK II: The Wish Circle</h3>
                  <div class="panel">
                    <p>Check out the wishes of animals. All of them want to become another animal. Isn't it ironic?</p><p>
                <a class="button thin full-rounded small gray" target="_blank" href="/circle/new">GO TO TASK II</a>
              </p>
                  </div>
                </li>
                <li>
                  <h3 class="ui-accordion-header"><span class="link"></span>TASK III: Poem</h3>
                  <div class="panel">
                    <p>Listen to a poem and work on it.</p><p>
                <a class="button thin full-rounded small gray" target="_blank" href="/poem/new">GO TO TASK III</a>
              </p>
                  </div>
                </li>
                <li>
                  <h3 class="ui-accordion-header"><span class="link"></span>TASK IV: Would</h3>
                  <div class="panel">
                    <p>Learn the function of "would" and use it.</p><p>
                <a class="button thin full-rounded small gray" target="_blank" href="/would">GO TO TASK IV</a>
              </p>
                  </div>
                </li>
                <li>
                  <h3 class="ui-accordion-header"><span class="link"></span>TASK V: Lamp</h3>
                  <div class="panel">
                    <p>Read and work on the story of Aladdin.</p><p>
                <a class="button thin full-rounded small gray" target="_blank" href="/lamp/new">GO TO TASK V</a>
              </p>
                  </div>
                </li>
                <li>
                  <h3 class="ui-accordion-header"><span class="link"></span>TASK VI: Genie</h3>
                  <div class="panel">
                    <p>Become a genie who grants wishes. What could go wrong?</p><p>
                <a class="button thin full-rounded small gray" target="_blank" href="/genie/start">GO TO TASK VI</a>
              </p>
                  </div>
                </li>
                <li>
                  <h3 class="ui-accordion-header"><span class="link"></span>TASK VII: Guess</h3>
                  <div class="panel">
                    <p>What can you figure out from just a picture? Test your skills.</p><p>
                <a class="button thin full-rounded small gray" target="_blank" href="/guess/new">GO TO TASK VII</a>
              </p>
                  </div>
                </li>
                <li>
                  <h3 class="ui-accordion-header"><span class="link"></span>TASK VIII: Reading</h3>
                  <div class="panel">
                    <p>Work on your reading skills.</p><p>
                <a class="button thin full-rounded small gray" target="_blank" href="/reading">GO TO TASK VIII</a>
              </p>
                  </div>
                </li>
                <li>
                  <h3 class="ui-accordion-header"><span class="link"></span>TASK IX: Exercise</h3>
                  <div class="panel">
                    <p>Apply what you learned in this exercise.</p><p>
                <a class="button thin full-rounded small gray" target="_blank" href="/fill/new">GO TO TASK IX</a>
              </p>
                  </div>
                </li>
                <li>
                  <h3 class="ui-accordion-header"><span class="link"></span>CHECKLIST: I</h3>
                  <div class="panel">
                    <p>After you finish all your tasks, use this checklist to assess yourself and receive recommendations on your shortcomings.</p><p>
                <a class="button thin full-rounded small gray" target="_blank" href="/checklist/new">GO TO TASK VIII</a>
              </p>
                  </div>
                </li>
                 <li>
                  <h3 class="ui-accordion-header"><span class="link"></span>CONGRATULATIONS</h3>
                  <div class="panel">
                    <p>If you answered yes to all of the questions in the checklist, you have successfully finished learning this track. See you when I'm done making another one.</p><p>
                <a class="button thin full-rounded small gray" href="/">GET OUTSIDE</a>
              </p>
                  </div>
                </li>
              </ul><!-- End Toggles -->


			</div>
       	</div>
  		</div>
  		</div>

<script type="text/javascript">
  function showDiv() {
   document.getElementById('welcomeDiv').style.display = "block";
}

</script>

{% endblock content %}	
