{% extends 'layout.html' %}
{% block title %}Would{% endblock title %}
{% block content %}

        <!-- PAGE TITLE LARGE 2 GRAY -->
        <div class="page-title-large3-cont bg-gray" style="background-image: url(/static/images/fes301.jpg);">
          <div class="container relative ">
            <div class="page-title-large3-text-cont">
                <div>
                <h1 class="page-title3 customtitle">Would</h1>
              </div>
              

  

            </div>
          </div>
        </div>
        <div class="page-section p-60-cont">
        <div class="container">
        <div class="row">

      		<div class="col-md-12">
            <blockquote class="mb-50">
                <p>“Would” is only used to talk about past habits. We can use would to talk about repeated past actions.</p>
              </blockquote>
              <blockquote class="mb-50">
                <p>Jane would smoke cigarette when she was in university. She became addicted to it because of her group of friends. Now she is an engineer but she cannot continue to her job because of her asthma. She wishes she would not smoke cigarette when she were young.</p>
              </blockquote>
              <blockquote class="mb-50">
                <p>David would perform ballet very well when he was 15 years old. Although his friends and teachers appreciated to him, he was obliged to give up because his family forced him to focus on his lessons. One day, while he is watching a famous ballet show, he is effected with the glorious show and he says that “I wish I would not give up performing  ballet”</p>
              </blockquote>
              <blockquote class="mb-50">
                <p>I would have an intimate childhood friend when I lived in Seul, South Korea. I lived in there, because of job of my father. Then we moved to Turkey. Now , I am 27 years old .One day , while I am thinking past memories  about Korea and my intimate friend , I realize that we have not talked since we moved to turkey wish I would not cut our communication.</p>
              </blockquote>
              <h4>Discussion Questions</h4>
              <blockquote class="mb-50">
                <p>What games would you play when you were a child?</p>
              </blockquote>
              <blockquote class="mb-50">
                <p>Are there any foods or drinks that you would hate when you were young that you like now?</p>
              </blockquote>
              <blockquote class="mb-50">
                <p>What style of clothes and hair would you have when you were child?</p>
              </blockquote>              <blockquote class="mb-50">
                <p>What would you do at weekends when you were in high schools?</p>
              </blockquote>
              <blockquote class="mb-50">
                <p>Would you watch cartoons when you were kid? Which one would you like most?</p>
              </blockquote>
			</div>
       	</div>
  		</div>
  		</div>



{% endblock content %}	
