{% extends 'layout.html' %}
{% block title %}Task 2{% endblock title %}
{% block content %}

        <!-- PAGE TITLE LARGE 2 GRAY -->
        <div class="page-title-cont page-title-large2-cont bg-gray">
          <div class="relative container align-left">
            <div class="row">
              
              <div class="col-md-8">
                <h1 class="page-title2">Task 6 - Guessing</h1>

              </div>
              <div class="col-md-4">
                <div class="breadcrumbs2 font-poppins">
                  <span class="bread-current">Your Progress</span>
                                <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                <span class="sr-only">20% Complete</span>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-section p-60-cont">
        <div class="container">
        <div class="row">

          <div class="col-md-12">
          <p></p>
      </div>
        </div>
      </div>
      </div>
        <!-- CONTACT INFO & FORM SECTION 1 -->
        <div id="contact-link" class="page-section p-140-cont-b">
          <div class="container">
            <div class="row">
              <div class="post-prev-img mb-50">
              <img src="/static/images/guess1.jpg" alt="img">
            </div>
            </div>
            <div class="row">
            

              <!-- CONTACT FORM -->
              <div class="col-md-8 col-md-offset-2">
                <div class="relative">
                  <form method="POST">
                    {% load crispy_forms_tags %}



                    <div class="row">
                    
                      <div class="col-md-12">
                        <div class="row">
                    
            {% csrf_token %}
            {{ wizard.management_form }}
            {{ form|crispy }}
                        
                        </div>
                      </div>
                    
                      <div class="col-md-12">
                        
                        <div class="text-right text-xxs-center">
                          <input type="submit" value="NEXT" class="button medium rounded gray font-open-sans mt-40" data-loading-text="Loading...">
                        </div>
                        
                      </div>
                      
                    </div>

          </form>
                  <div class="alert alert-success hidden animated pulse" id="contactSuccess">
                    Thanks, your message has been sent to us.
                  </div>
                
                  <div class="alert alert-danger hidden animated shake" id="contactError">
                    <strong>Error!</strong> There was an error sending your message.
                  </div>
                </div>
              </div>
                
            </div>
          </div>
        </div>



{% endblock content %}  
